<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Test Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="66e5bd">  <td>18/09/17 09:24:34</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase_003.DBTest()[pri:0, instance:tests.TestCase_003@1ed4004b]">DBTest</td> 
  <td>main@174573182</td>   <td></td> </tr>
<tr bgcolor="94c7ba">  <td>18/09/17 09:24:35</td>   <td>1641</td> <td title="&lt;&lt;BaseTest.closeReport()[pri:0, instance:tests.TestCase_003@1ed4004b]">&lt;&lt;closeReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@174573182</td>   <td></td> </tr>
<tr bgcolor="99f37e">  <td>18/09/17 09:24:04</td>   <td>-30180</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase_001.contactTest1_a()[pri:0, instance:tests.TestCase_001@204f30ec]">contactTest1_a</td> 
  <td>main@174573182</td>   <td></td> </tr>
<tr bgcolor="99f37e">  <td>18/09/17 09:24:08</td>   <td>-26105</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase_001.contactTest1_b()[pri:0, instance:tests.TestCase_001@204f30ec]">contactTest1_b</td> 
  <td>main@174573182</td>   <td></td> </tr>
<tr bgcolor="d878d1">  <td>18/09/17 09:24:23</td>   <td>-11043</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase_002.contactTest2_a()[pri:0, instance:tests.TestCase_002@6e06451e]">contactTest2_a</td> 
  <td>main@174573182</td>   <td></td> </tr>
<tr bgcolor="d878d1">  <td>18/09/17 09:24:27</td>   <td>-6879</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase_002.contactTest2_b()[pri:0, instance:tests.TestCase_002@6e06451e]">contactTest2_b</td> 
  <td>main@174573182</td>   <td></td> </tr>
<tr bgcolor="94c7ba">  <td>18/09/17 09:23:59</td>   <td>-35081</td> <td title="&gt;&gt;BaseTest.initReport()[pri:0, instance:tests.TestCase_003@1ed4004b]">&gt;&gt;initReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@174573182</td>   <td></td> </tr>
<tr bgcolor="99f37e">  <td>18/09/17 09:24:09</td>   <td>-24360</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase_001.registerTest1_c()[pri:0, instance:tests.TestCase_001@204f30ec]">registerTest1_c</td> 
  <td>main@174573182</td>   <td></td> </tr>
<tr bgcolor="d878d1">  <td>18/09/17 09:24:29</td>   <td>-5048</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase_002.registerTest1_c()[pri:0, instance:tests.TestCase_002@6e06451e]">registerTest1_c</td> 
  <td>main@174573182</td>   <td></td> </tr>
<tr bgcolor="94c7ba">  <td>18/09/17 09:23:59</td>   <td>-34596</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUp()[pri:0, instance:tests.TestCase_001@204f30ec]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@174573182</td>   <td></td> </tr>
<tr bgcolor="94c7ba">  <td>18/09/17 09:24:20</td>   <td>-13491</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUp()[pri:0, instance:tests.TestCase_002@6e06451e]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@174573182</td>   <td></td> </tr>
<tr bgcolor="94c7ba">  <td>18/09/17 09:24:31</td>   <td>-2508</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUp()[pri:0, instance:tests.TestCase_003@1ed4004b]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@174573182</td>   <td></td> </tr>
<tr bgcolor="94c7ba">  <td>18/09/17 09:24:19</td>   <td>-14279</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown()[pri:0, instance:tests.TestCase_001@204f30ec]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@174573182</td>   <td></td> </tr>
<tr bgcolor="94c7ba">  <td>18/09/17 09:24:30</td>   <td>-3233</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown()[pri:0, instance:tests.TestCase_002@6e06451e]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@174573182</td>   <td></td> </tr>
<tr bgcolor="94c7ba">  <td>18/09/17 09:24:35</td>   <td>1641</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown()[pri:0, instance:tests.TestCase_003@1ed4004b]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@174573182</td>   <td></td> </tr>
</table>
