<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="99f37e">  <td>18/09/17 09:17:17</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase_003.DBTest()[pri:0, instance:tests.TestCase_003@204f30ec]">DBTest</td> 
  <td>main@1440047379</td>   <td></td> </tr>
<tr bgcolor="94c7ba">  <td>18/09/17 09:17:19</td>   <td>1758</td> <td title="&lt;&lt;BaseTest.closeReport()[pri:0, instance:tests.TestCase_003@204f30ec]">&lt;&lt;closeReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1440047379</td>   <td></td> </tr>
<tr bgcolor="94c7ba">  <td>18/09/17 09:17:12</td>   <td>-4727</td> <td title="&gt;&gt;BaseTest.initReport()[pri:0, instance:tests.TestCase_003@204f30ec]">&gt;&gt;initReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1440047379</td>   <td></td> </tr>
<tr bgcolor="94c7ba">  <td>18/09/17 09:17:13</td>   <td>-4196</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUp()[pri:0, instance:tests.TestCase_003@204f30ec]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1440047379</td>   <td></td> </tr>
<tr bgcolor="94c7ba">  <td>18/09/17 09:17:19</td>   <td>1718</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown()[pri:0, instance:tests.TestCase_003@204f30ec]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1440047379</td>   <td></td> </tr>
</table>
