<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Test Suite 1</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="66e5bd">  <td>18/09/17 09:30:32</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase_003.DBTest()[pri:0, instance:tests.TestCase_003@1ed4004b]">DBTest</td> 
  <td>TestNG-tests-3@2020286385</td>   <td></td> </tr>
<tr bgcolor="94c7ba">  <td>18/09/17 09:30:56</td>   <td>23739</td> <td title="&lt;&lt;BaseTest.closeReport()[pri:0, instance:tests.TestCase_003@1ed4004b]">&lt;&lt;closeReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@174573182</td>   <td></td> </tr>
<tr bgcolor="99f37e">  <td>18/09/17 09:30:32</td>   <td>-2</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase_001.contactTest1_a()[pri:0, instance:tests.TestCase_001@204f30ec]">contactTest1_a</td> 
  <td>TestNG-tests-1@1871590616</td>   <td></td> </tr>
<tr bgcolor="99f37e">  <td>18/09/17 09:30:40</td>   <td>8282</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase_001.contactTest1_b()[pri:0, instance:tests.TestCase_001@204f30ec]">contactTest1_b</td> 
  <td>TestNG-tests-1@1871590616</td>   <td></td> </tr>
<tr bgcolor="d878d1">  <td>18/09/17 09:30:32</td>   <td>-2</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase_002.contactTest2_a()[pri:0, instance:tests.TestCase_002@6e06451e]">contactTest2_a</td> 
  <td>TestNG-tests-2@1004441774</td>   <td></td> </tr>
<tr bgcolor="d878d1">  <td>18/09/17 09:30:41</td>   <td>8549</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase_002.contactTest2_b()[pri:0, instance:tests.TestCase_002@6e06451e]">contactTest2_b</td> 
  <td>TestNG-tests-2@1004441774</td>   <td></td> </tr>
<tr bgcolor="94c7ba">  <td>18/09/17 09:30:26</td>   <td>-6307</td> <td title="&gt;&gt;BaseTest.initReport()[pri:0, instance:tests.TestCase_003@1ed4004b]">&gt;&gt;initReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@174573182</td>   <td></td> </tr>
<tr bgcolor="99f37e">  <td>18/09/17 09:30:42</td>   <td>10130</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase_001.registerTest1_c()[pri:0, instance:tests.TestCase_001@204f30ec]">registerTest1_c</td> 
  <td>TestNG-tests-1@1871590616</td>   <td></td> </tr>
<tr bgcolor="d878d1">  <td>18/09/17 09:30:42</td>   <td>10297</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase_002.registerTest1_c()[pri:0, instance:tests.TestCase_002@6e06451e]">registerTest1_c</td> 
  <td>TestNG-tests-2@1004441774</td>   <td></td> </tr>
<tr bgcolor="94c7ba">  <td>18/09/17 09:30:26</td>   <td>-5767</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUp()[pri:0, instance:tests.TestCase_003@1ed4004b]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-3@2020286385</td>   <td></td> </tr>
<tr bgcolor="94c7ba">  <td>18/09/17 09:30:26</td>   <td>-5767</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUp()[pri:0, instance:tests.TestCase_001@204f30ec]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1871590616</td>   <td></td> </tr>
<tr bgcolor="94c7ba">  <td>18/09/17 09:30:26</td>   <td>-5767</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUp()[pri:0, instance:tests.TestCase_002@6e06451e]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@1004441774</td>   <td></td> </tr>
<tr bgcolor="94c7ba">  <td>18/09/17 09:30:35</td>   <td>2424</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown()[pri:0, instance:tests.TestCase_003@1ed4004b]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-3@2020286385</td>   <td></td> </tr>
<tr bgcolor="94c7ba">  <td>18/09/17 09:30:44</td>   <td>12213</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown()[pri:0, instance:tests.TestCase_002@6e06451e]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@1004441774</td>   <td></td> </tr>
<tr bgcolor="94c7ba">  <td>18/09/17 09:30:55</td>   <td>23049</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown()[pri:0, instance:tests.TestCase_001@204f30ec]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1871590616</td>   <td></td> </tr>
</table>
